<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="stylesheet" type="text/css" href="{{ url("static", filename="css/bootstrap.min.css") }}" />

    <title>{% block title %}SosachKino{% endblock %}</title>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="{{ url("videos") }}">SosachKino</a>
    </nav>

    <div class="container-fluid">
      {% block center %}{% endblock %}
    </div>

  </body>
</html>
