<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    {% import "macros.jinja2" as macros %}

    <link rel="stylesheet" type="text/css" href="{{ url("static", filename="css/bootstrap.min.css") }}" />
    <link rel="stylesheet" type="text/css" href="{{ url("static", filename="css/fontawesome.min.css") }}" />
    <link rel="stylesheet" type="text/css" href="{{ url("static", filename="css/main.css", query_={"v": "0.2"}) }}" />

    <title>{% block title %}SosachKino{% endblock %}</title>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="{{ url("videos") }}"><i class="fas fa-video"></i> SosachKino</a>
    </nav>

    <div class="container-fluid">
      {% block center %}{% endblock %}
    </div>

    <script src="{{ url("static", filename="js/main.js", query_={"v": "0.1"}) }}"></script>
  </body>
</html>
