{% extends "base.jinja2" %}

{% block center %}
  <input type="checkbox" class="d-none" id="slide" name="slide" autocomplete="off" />
  <aside id="sidebar" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 bg-light">
    <label id="slide-toggle" for="slide">Filter</label>
    <label id="slide-close" class="close" for="slide">
      <span aria-hidden="true" title="Close">&times;</span>
    </label>
    <form id="filter-form" method="get" action="{{ url("videos") }}"> 

      {% if boards %} 
        <div>
          <h5>Boards</h5>
        </div>
        <fieldset id="boards-filter"> 
          {% for board in boards %} 
            <div class="form-check"> 
              <input 
                class="form-check-input" 
                type="checkbox" 
                name="board" 
                value="{{ board }}" 
                {% if board in query.get("board", []) %} 
                  checked="checked" 
                {% endif %} 
                id="board-{{ board }}" /> 
                <label class="form-check-label" for="board-{{ board }}"> 
                  /{{ board }}/ 
                </label> 
            </div> 
          {% endfor %} 
        </fieldset> 
      {% endif %} 

      {% if threads %} 
        <div>
          <h5>Threads</h5>
          <div class="input-group">
            <input id="thread-input" autocomplete="off" value="" class="form-control form-control-sm" type="text" placeholder="Filter threads" />
            <div class="input-group-append">
              <button id="reset-thread" class="btn btn-sm btn-outline-danger" title="Reset filter" type="button">&times;</button>
            </div>                   
          </div>
        </div>
        <fieldset id="thread-filter">
          <div>
            {% for thread in threads %}
              <div class="form-check" data-search="/{{ thread["board"]|lower }}/{{ thread["id"]|lower }} {{ thread["subject"]|lower }}">
                <input  
                  class="form-check-input"  
                  type="checkbox"  
                  name="thread"  
                  value="{{ thread["id"] }}"  
                  {% if thread["id"]|string in query.get("thread", []) %}  
                    checked="checked"  
                  {% endif %}
                  id="thread-{{ thread["id"] }}" />  
                  <label class="form-check-label" for="thread-{{ thread["id"] }}">  
                    <small>/{{ thread["board"] }}/{{ thread["id"] }} <span class="badge badge-secondary">{{ thread["files"] }}</span><br /><span>{{ thread["subject"] }}</span> </small>  
                  </label>  
              </div>  
            {% endfor %} 
          </div>
        </fieldset>  
      {% endif %} 

      <fieldset> 
        <div class="btn-toolbar" role="toolbar" aria-label="Search toolbar"> 
          <div class="btn-group mr-2" role="group" aria-label="Search buttons"> 
            <button type="submit" class="btn btn-primary">Filter</button> 
            <a href="{{ url("videos") }}" class="btn btn-danger">Reset</a> 
          </div> 
        </div> 
      </fieldset>

    </form> 
  </aside>

  <div class="row">
    <div class="col m-1">
      <br />
      <div class="row">
        <div class="mx-auto">
          {{ macros.paginator(pagination) }}
        </div>
      </div>
      <div class="row">
        <div class="card-columns">

          {% for video in videos %}
            <div class="card">
              <video class="card-img-top"
                     src="{{ video.url }}"
                     poster="{{ video.thumbnail }}"
                     {% if video.type %}
                       type="{{ video.type }}"
                     {% endif %}
                     preload="none"
                     controls="controls">
                     Video couldn't be played by browser
              </video>

              <div class="card-body">
                <h5 class="card-title">{{ video["name"] }}</h5>
                <p class="card-text">
                  <small class="text-muted">{{ video.date.strftime("%d.%m.%y %H:%M:%S") }}</small>
                </p>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>

      <div class="row">
        <div class="mx-auto">
          {{ macros.paginator(pagination) }}
        </div>
      </div>

    </div>
  </div>

{% endblock %}
