#sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: calc(-25% + 4px);
    /* width: 25%; */
    z-index: 1000;
    background-color: white;
    border-right: 4px solid #007bff;

    transition: left 0.5s ease-out;
    -webkit-transition: left 0.5s ease-out;
    -moz-transition: left 0.5s ease-out;
    -o-transition: left 0.5s ease-out;
    -ms-transition: left 0.5s ease-out;

    display: flex;
    flex-direction: column;
}

#slide:checked + #sidebar {
    left: 0px;
}

#slide-toggle {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(100%, -50%);
    background-color: #007bff;
    color: white;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 0 6px 6px 0;
    text-align: center;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (max-width: 991.98px) {
    #sidebar {
        left: calc(-33.3333% + 4px);
    }
}

@media (max-width: 767.98px) {
    #sidebar {
        left: calc(-50% + 4px);
    }
}

@media (max-width: 575.98px) {
    #sidebar {
        left: -100%;
    }
}

#slide-close > span {
    float: right;
    margin-top: 5px;
}

#filter-form {
    min-height: 0;
    display: flex;
    flex-direction: column;
}

#filter-form > div {
    flex: 0 1 auto;
}

#filter-form > div > h5 {
    font-size: 1rem;
}

#filter-form label.form-check-label {
    font-size: 0.9rem;
}

#filter-form fieldset {
    flex: 0 1 auto;
    border-bottom: 1px dotted lightgray;
    padding-bottom: 10px;
}

#thread-filter {
    overflow-x: hidden;
    flex: 1 1 auto;
    min-height: 0;
    display: flex;
    flex-direction: column;
}

#boards-filter {
    columns: 3;
}

#lightbox {
    display: none;
    z-index: 1001;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
}

#video-item {
    position: absolute;
    box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.9);
    top: 50%;
    left: 50%;
    max-width: 90%;
    max-height: 85%;
    transform: translate(-50%, -50%);
}

#lightbox .video-text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 1.1rem;
    text-shadow: 0px 0px 4px black;
}

#video-name { bottom: 5px; }
#video-counter { top: 5px; }

#lightbox > .close {
    position: absolute;
    top: 5px;
    right: 5px;
}

.lightbox-btn {
    position: absolute;
    top: 10%;
    bottom: 10%;
    width: 4%;
}

.lightbox-btn:hover {
    background-color: rgba(255,255,255,0.2);
}

.lightbox-btn i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:rgba(255,255,255,0.2);
    font-size: 2rem;
}

.lightbox-btn:hover i {
    color:rgba(255,255,255,0.4);
}

#prev { left: 0; border-radius: 0 4px 4px 0; }
#next { right: 0; border-radius: 4px 0 0 4px; }

/* Settings */
#settings-overlay {
    display: none;
    z-index: 1010;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.8);
}
